.resume {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-areas: "head details";
}

.resume-header {
  grid-area: head;
  background-color: var(--background-color);
  color: white;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  padding: 16px;
}

.resume-details {
  grid-area: details;
  display: grid;
  grid-template-rows: 1fr 80px;
}

@media screen and (width <=1280px) {
  .resume {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "head"
      "details";
  }

  .resume-header {
    height: max-content;
    padding: 8px;
  }

  .resume-details{
      grid-template-rows: 1fr 160px;
  }
}
