.resume-header header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.resume-header header h1 {
  font-family: "Inika";
  font-size: 2.25rem;
  letter-spacing: 0.125rem;
}

.resume-header header hr {
  width: 75%;
}

.resume-header header p {
  font-family: "SourceSerif";
  font-size: 1.25rem;
  text-align: center;
  width: 25ch;
}

@media screen and (width <=1280px) {
  .resume-header header h1{
    font-size: 1.5rem;
  }

  .resume-header header p {
    font-size: 1rem;
  }
}